<% if hospital = @summary.hospital %>
    <!-- <details> -->
        <summary>医療機関情報</summary>
        <table>
            <tbody>
                <tr>
                    <th>コード</td>
                    <td><%= hospital.code %></td>
                </tr>
                <tr>
                    <th>都道府県</td>
                    <td><%= hospital.prefecture_code %></td>
                </tr>
                <tr>
                    <th>名称</td>
                    <td><%= hospital.name %></td>
                </tr>
                <tr>
                    <th>請求年月</td>
                    <td><%= hospital.seikyu_ym %></td>
                </tr>
                <tr>
                    <th>審査機関</td>
                    <td><%= hospital.shaho_or_kokuho %></td>
                </tr>
            </tbody>
        </table>
    <!-- </details> -->
    <% end # if %>
    <details>
        <summary>レセプト一覧</summary>
        <table>
            <thead>
                <tr>
                    <th>SEQ</th>
                    <th>種別</th>
                    <th>診療年月</th>
                    <th>患者番号</th>
                    <th>患者氏名</th>
                </tr>
            </thead>
            <tbody>
                <% @summary.receipts.each do | receipt | %>
                    <tr>
                        <td><a href="#receipt-section-<%= receipt.sequence %>"><%= receipt.sequence %></a></td>
                        <td><%= receipt.receipt_type %></td>
                        <td><%= receipt.year_month   %></td>
                        <td><%= receipt.patient_id   %></td>
                        <td><%= receipt.patient_name %></td>
                    </tr>
                <% end %>
            </tbody>
        </table>
    </details>
